:focus {
  background-color: #ffb300;
}
@font-face {
  font-family: Ampersand;
  src: local('Delicious'), local('Goudy Old Style'), local('Palatino'), local('Book Antiqua');
  unicode-range: 0026;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ecf0f5;
}
img {
  max-width: 100%;
}
.modal {
  display: none;
  width: 15em;
  background: white;
  box-shadow: 0 0 0 150vw rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
}
#login:target ~ .modal {
  display: block;
  z-index: 9999;
}
form {
  display: block;
}
form label {
  display: inherit;
  margin-top: 2em;
  margin-bottom: 0.625em;
}
form label[for="field-stay-logged-in"] {
  display: inline-block;
}
form input {
  display: inherit;
  height: 3em;
  border: 2px solid #4285f4;
  background-color: white;
  width: 100%;
}
form input[type=checkbox] {
  display: inline-block;
  width: initial;
  height: initial;
}
form a {
  display: inherit;
}
form button[type="submit"] {
  background-color: #4285f4;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-size: 1em;
  margin-top: 2em;
}
#close {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  background: #4285f4;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  color: white;
}
#toggle {
  position: fixed;
  top: 2em;
  left: 1em;
  width: 2.5em;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  display: none;
  transition: all ease-out 0.3s;
  z-index: 9998;
}
#toggle:before {
  content: 'menu';
  position: absolute;
  left: 0;
  bottom: 2px;
  color: white;
  font-size: .7em;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#toggle i {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
header {
  height: 6em;
  text-align: center;
  background-color: #4285f4;
  margin-bottom: 2em;
}
header:before {
  content: '';
  height: .6em;
  width: 100%;
  background-image: linear-gradient(90deg, #259b24 11px, transparent 0), linear-gradient(90deg, #ff5722 23px, transparent 0), linear-gradient(90deg, #ffb300 41px, transparent 0);
  background-size: 30px 100%, 60px 100%, 90px 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header h1 {
  margin: 0;
  padding: 1em 0;
  color: white;
  font-size: 1.8em;
}
input:not(:focus) + .callout:not(:hover) {
  transform: scale(0);
  transition: .25s transform;
}
.callout {
  transition: 0.5s cubic-bezier(0.25, 0.1, 0.3, 1.5) transform;
  transform-origin: 1.4em -0.4em;
  position: absolute;
  max-width: 19em;
  padding: .6em .8em;
  border-radius: .3em;
  margin: 0.3em 0 0 -0.2em;
  background: #4285f4;
  font-size: 75%;
}
.callout:before {
  content: "";
  position: absolute;
  top: -0.4em;
  left: 1em;
  padding: .35em;
  background: inherit;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
#menu {
  transition: all ease-out 0.3s;
  padding: 1em 0;
}
#menu a {
  color: white;
}
#menu ul {
  margin: 0;
  padding: 0;
  background-color: #1a2940;
}
#menu ul li {
  display: inline-flex;
  position: relative;
}
#menu ul li > a {
  display: inline-block;
  padding: 0.8em;
  text-decoration: none;
}
#menu ul li > a > i {
  margin-left: 1em;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.1s;
}
#menu ul li ul {
  display: none;
  position: absolute;
  top: 2.8em;
  width: 12.5em;
  text-align: left;
}
#menu ul li ul li {
  display: block;
}
#menu ul li ul li a {
  display: block;
}
#menu ul li:hover > a {
  background-color: rgba(0, 0, 0, 0.2);
}
#menu ul li:hover > a > i {
  transform: rotateZ(90deg);
}
#menu ul li:hover ul {
  display: block;
}
#toggle {
  display: block;
}
#content {
  margin-top: 65px;
  transition: all ease-out 0.3s;
}
#menu {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: #1d1d1b;
  transform: translateX(-250px);
}
#menu ul {
  text-align: left;
  background-color: transparent;
}
#menu ul li {
  display: block;
}
#menu ul li a {
  display: block;
}
#menu ul li a > i {
  float: right;
}
#menu ul li ul {
  display: none;
  position: static;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
#menu ul li ul li {
  font-size: .8em;
}
#menu ul li:hover > ul {
  display: none;
}
#menu ul li:hover > a > i {
  transform: rotateZ(0);
}
#menu ul li.open > a {
  background-color: rgba(0, 0, 0, 0.3);
}
#menu ul li.open > a > i {
  transform: rotateZ(90deg);
}
#menu ul li.open > ul {
  display: block;
}
.open-menu {
  overflow: hidden;
}
.open-menu #toggle,
.open-menu #content {
  transform: translateX(250px);
}
.open-menu #menu {
  z-index: 3;
  transform: translateX(0);
}
main {
  max-width: 80vw;
  transition: 1s;
  margin-left: auto;
  margin-right: auto;
}
main .row {
  display: flex;
  box-sizing: border-box;
}
main .row article {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: max-content;
  box-sizing: border-box;
  color: #333;
  flex: 1 0 0;
}
main .row article h1 {
  font-size: 1em;
  font-weight: 800;
  color: #333c4e;
  margin-top: 20px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
main .row article h1 a {
  text-decoration: none;
  color: inherit;
}
main .row article h1 a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}
main .row article p {
  font-size: 1em;
}
main .row article:first-of-type {
  flex: 3 0 0;
}
main .row article:first-of-type h1 {
  font-size: 2em;
}
main .row article:first-of-type p {
  font-size: 1.5em;
}
main .row article .content {
  flex-direction: column;
  padding: 1em;
  margin: 1vw;
  background-color: white;
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}
.rating {
  padding-top: 1em;
  font-size: 0.6em;
  background-color: #4285f4;
}
.rating .rating-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 7em;
  padding: 0;
  justify-content: space-around;
  padding-top: .5em;
}
.rating .rating-row label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 900;
  font-size: 1.8em;
  text-transform: uppercase;
  z-index: 2;
  color: #ecf0f5;
}
.rating .rating-row label:hover {
  color: white;
}
.rating .rating-row input[name="rating"] {
  display: none;
}
.rating .rating-row input[name="rating"]:checked + label {
  font-size: 2em;
}
.rating .rating-row input[name="rating"]:checked + label svg {
  transition: 1s;
  transform: scale(1.5) translateX(-5px);
}
fieldset {
  border: none;
  display: flex;
  padding: 0;
}
fieldset legend {
  margin: 0 auto;
  padding: 1em 0;
  color: white;
  font-size: 4em;
  font-weight: 800;
}
fieldset svg {
  display: flex;
  width: 1.5em;
}
.progress {
  padding: 1em 9em;
  font-size: 0.6em;
  background-color: #4285f4;
  margin: 1vw;
}
.progress h1 {
  margin: 0 auto;
  padding: 1em 0;
  color: white;
  font-size: 4em;
  text-align: center;
}
.progress progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  width: 100%;
}
.progress progress::-webkit-progress-bar {
  background-color: #414149;
}
.progress progress::-webkit-progress-value {
  background-color: white;
}
.progress progress + ol {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
}
.progress progress + ol li {
  list-style-type: none;
  display: flex;
  color: #ddd;
  font-weight: 900;
  font-size: 1.8em;
  text-transform: uppercase;
}
.progress progress + ol li a {
  color: white;
  text-decoration: none;
}
